gradio
bs4
# chromadb
psycopg[binary,pool]

langchain
langgraph

langchain-core
langchain-community 
langchain-text-splitters

# langchain-chroma
langchain_postgres
langchain-openai
langchain-huggingface

langgraph-cli[inmem]
