# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia

gradio<=4.40
python-dotenv
bs4
jinja2

markdownify
markdown
html2text

# for LLM
openai
huggingface_hub

langchain
langchain_text_splitters
langchain_community
langchain_openai
langchain_huggingface


# for RAG
# sentence-transformers # depends on torch, which is large
pypdf
ruamel.yaml
chromadb

langchain_elasticsearch
langchain_chroma
langchain_redis
langchain_postgres

# for Azure
azure-cognitiveservices-speech

# for agent
tool2schema